<section class="visual">
  <div class="container">
    <div class="text-block">
      <div class="heading-holder">
        <h1>CFGC values its employees and believe in healthy work/life balance.</h1>
      </div>
    </div>
  </div>
  <img src="https://107.170.230.125/wp-content/uploads/2017/03/balance.jpg" alt="" class="bg-stretch regular" style="">
  <img src="https://107.170.230.125/wp-content/uploads/2017/03/balance.jpg" alt="" class="bg-stretch wide" style="">
</section>


<section class="perks">
  <div class="container container-narrow pad-top-medium">
    <h2 class="text-center fs-35-xs fs-50 text-bold">Perks &amp; Benefits</h2>
    <div class="row pad-bottom-medium">

      <div class="col-sm-4 pad-top-medium">
        <div class="text-center benefit-container table">
          <div class="tr">
            <div class="tc valign-bottom">
              <div class="health-insurance">
                <i class="fa fa-stethoscope fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <p class="fs-16 text-bold">Health + Vision + Dental </p>
          <p class="benefit-info">Full medical, dental, vision to keep you healthy</p>
        </div>
      </div>

      <div class="col-sm-4 pad-top-medium">
        <div class="text-center benefit-container table">
          <div class="tr">
            <div class="tc valign-bottom">
              <div class="competitive-salary">
                <i class="fa fa-money fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <p class="fs-16 text-bold">Competitive salary + Bonuses</p>
          <p class="benefit-info">Competitive salary &amp; incentive bonus programs</p>
        </div>
      </div>

      <div class="col-sm-4 pad-top-medium">
        <div class="text-center benefit-container table">
          <div class="tr">
            <div class="tc valign-bottom">
              <div class="401k">
                <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <p class="fs-16 text-bold">401(k)</p>
          <p class="benefit-info">401(k) with generous employee match</p>
        </div>
      </div>

      <div class="col-sm-4 pad-top-medium">
        <div class="text-center benefit-container table">
          <div class="tr">
            <div class="tc valign-bottom">
              <div class="vacation">
                <i class="fa fa-ship fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <p class="fs-16 text-bold">Generous vacation policy</p>
          <p class="benefit-info">Sick personal time and paid holidays</p>
        </div>
      </div>

      <div class="col-sm-offset-4 col-sm-4 pad-top-medium">
        <div class="text-center benefit-container table">
          <div class="tr">
            <div class="tc valign-bottom">
              <div class="extra-protection">
                <i class="fa fa-shield fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <p class="fs-16 text-bold">Life Insurance + Extras</p>
          <p class="benefit-info">EAP, AFLAC, LegalShield, Nationwide Pet Insurance</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="employment-ribbon" class="top-level-section-heading">
  <div class="row narrow join-us">
    <div class="col-twelve">
      <div class="top-level-section-title">
        <h3 class="animate-this impact-header">Join Our Team!</h3>
      </div>
    </div>
  </div>
</section>

<section id="employment-openings" data-job-results="">
  <div class="container content pad-top-medium">
    <div class="pad-bottom-medium" data-job-group="Public Service">
      <h3>Open Positions</h3>
      <table class="table-border-rows table-collapse-until-medium table-pad-line table-pad-base-at-medium" id="table-job-postings">
        <tbody>
          <tr data-job-location="Cerritos" data-job-title="Bilingual Therapist" data-job-type="Full-time">
            <th class="one-fourth-at-medium">
              <a href="https://cfgcenter.com/employment/therpist" target="_blank">Bilingual English/Spanish Therapist</a>
            </th>
            <td class="one-fourth-at-medium">Full-time</td><td class="one-fourth-at-medium">Cerritos, CA</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pad-bottom-medium">
      <div class="closing content-width-medium">
        <p class="cta instructions">
          You can find our recruitment ads on <a href="www.socialservice.com">www.socialservice.com</a>, or you may email your resume to 
          <a href="mailto:jsmock@cfgcenter.com" target="_top">mailto:jsmock@cfgcenter.com</a>.
          Please indicate which position you are applying for in the subject line of your email.
        </p>
        <h4 class="text-center">
          Thank you for your interest in joining our Team.
        </h4>
      </div>
    </div>
  </div>
</section>

