<section id="contact-us">
  <div id="phone-numbers" class="map-heading">
    <span id="big-phnum" class="big-num">
      <i class="fa fa-phone fa-2x" aria-hidden="true" style="color:#912d25;"></i>
      <br> 562-924-5526
    </span>
    <span id="big-faxnum" class="big-num">
      <i class="fa fa-fax fa-2x" aria-hidden="true" style="color:#912d25;"></i>
      <br> 562-924-1040
    </span>
  </div>
  [intergeo id="1gzN"][/intergeo]

  <div class="map-overlay">
    <h2>CFGC</h2>
    <h4>
      <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>&nbsp;Main Office
    </h4>
    <p>
      10929 South Street<br>Suite 208B<br>Cerritos, CA 90703<br><br>
      <i class="fa fa-map-marker" aria-hidden="true" style="color:#912d25;"></i>&nbsp;<a class="circle-link" href="https://goo.gl/maps/Myb8cijpGPF2">Google Maps</a>
    </p>
  </div>

  <section class="email-link-wrapper">
    <span id="email-link">
      <span class="label">email: </span>
      <a href="mailto:bsinko@cfgcenter.com" class="button email-link btn-cyan">bsinko@cfgcenter.com</a>
    </span>
  </section>


  <section id="contact-main">
    <div class="contact-form-wrapper col-md-7 col-xs-12">
      <!-- Displayed for small viewports only -->
      <section class="contact-grid-item address-block">
        <h2>CFGC</h2>
        <p>
          10929 South Street<br>Suite 208B<br>Cerritos, CA<br>90703<br><br>
          <a class="circle-link" href="https://goo.gl/maps/Myb8cijpGPF2">Google Maps</a>
        </p>
      </section>
    
      <fieldset>
        <form method="post" enctype="application/x-www-form-urlencoded" id="pirate_forms_9" class="pirate_forms">
          <legend>Contact Us</legend>
          <div class="pirate_forms_three_inputs_wrap">
            <div class="col-sm-12 col-md-12 form_field_wrap contact_name_wrap pirate_forms_three_inputs">
              <label for="pirate-forms-contact-name"></label>
              <input id="pirate-forms-contact-name" name="pirate-forms-contact-name" required="" class="form-control" type="text" value="" placeholder="Name">
            </div>
            <div class="col-sm-12 col-md-12 form_field_wrap contact_email_wrap pirate_forms_three_inputs">
              <label for="pirate-forms-contact-email"></label>
              <input id="pirate-forms-contact-email" name="pirate-forms-contact-email" required="" class="form-control" type="email" value="" placeholder="Email Address">
            </div>
            <div class="col-sm-12 col-md-12 form_field_wrap contact_subject_wrap pirate_forms_three_inputs">
              <label for="pirate-forms-contact-subject"></label>
              <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" class="form-control" type="text" value="" placeholder="Subject">
            </div>
          </div>
          <div class="col-sm-12 form_field_wrap contact_message_wrap">
            <textarea id="pirate-forms-contact-message" name="pirate-forms-contact-message" required="" class="form-control" placeholder="Your message"></textarea>
          </div>
          <!-- BUTTON -->
          <div class="col-xs-12 col-sm-5 form_field_wrap contact_submit_wrap">
            <button id="pirate-forms-contact-submit" name="pirate-forms-contact-submit" class="contact-forms-submit cyan" type="submit">Send Message</button>
          </div>
          <!-- RECAPTCHA -->
          <div class="col-xs-12 col-sm-7 form_field_wrap form_captcha_wrap">
            <div id="pirate-forms-captcha" class="g-recaptcha pirate-forms-g-recaptcha" data-sitekey="6LcEHhYUAAAAAPmdRCIfMjhd3pFjcXHrcTSnAMUx">
              <div style="width:304px;height:78px;">
                <div>
                  <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LcEHhYUAAAAAPmdRCIfMjhd3pFjcXHrcTSnAMUx&amp;co=aHR0cHM6Ly8xMDcuMTcwLjIzMC4xMjU6NDQz&amp;hl=en&amp;v=r20170223111436&amp;size=normal&amp;cb=ua72aeymw2qv" title="recaptcha widget" width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe>
                </div>
                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width:250px;height:40px;border:1px solid #c1c1c1;margin:10px 25px;padding:0px;resize:none;display:none;"></textarea>
              </div>
            </div>
          </div>
          <input id="contact-referrer" name="contact-referrer" class="form-control" type="hidden" value="https://107.170.230.125/about/">
          <div class="form_field_wrap hidden " style="display:none">
            <label for="form_honeypot">Leave blank to submit</label>
            <input id="form_honeypot" name="honeypot" class="form-control" type="text" value="" placeholder="">
          </div>
          <input id="wordpress-nonce" name="wordpress-nonce" class="form-control" type="hidden" value="a0ea49ce9b">
        </form>
      </fieldset>
    </div>
    <div id="sidebar-secondary" class="col-md-5 widget-area col-xs-12 sidebar" itemtype="http://schema.org/WPSideBar" role="complementary" aria-label="Main sidebar">
      <aside id="text-2" class="widget widget_text">
        <h2 class="widget-title">Community Family Guidance Center</h2>
        <div class="colored-line-left"></div>
        <div class="clearfix widget-title-margin"></div>
        <div class="textwidget">
          <p>
            <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;<strong>Main Office</strong>
            <br>10929 South Street, Suite 208B
            <br>Cerritos, CA 90703
            <br>ph: 562-924-5526
            <br>fax: 562-924-1040
          </p>
          <br class="clear clearfix">
          <p>
            <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;<strong>Satellite Office</strong>
            <br>8320 Iowa Street, #201
            <br>Downey, CA 90241
            <br>ph: 562-904-4815
            <br><i class="fa fa-map-marker" aria-hidden="true" style="color:#912d25;"></i>&nbsp;<a class="sidebar-link" href="https://goo.gl/maps/ptMNvKrR6cH2">Google Maps</a>
          </p>
        </div>
      </aside>
      <aside id="nav_menu-3" class="widget widget_nav_menu">
        <div class="menu-social-links-menu-container">
          <ul id="menu-social-links-menu" class="menu">
            <li id="menu-item-137" class="side-nav-link menu-item menu-item-type-custom menu-item-object-custom menu-item-137">
              <a title="YouTube" target="_blank" href="http://youtube.com"><i class="fa fa-youtube-play fa-3x"></i></a>
            </li>
            <li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141">
              <a href="http://facebook.com/communityfamilyguidancecenter"><i class="fa fa-facebook-square fa-3x"></i></a>
            </li>
            <li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142">
              <a href="http://twitter.com/cfgcenter"><i class="fa fa-twitter fa-3x"></i></a>
            </li>
            <li id="menu-item-139" class="side-nav-link menu-item menu-item-type-custom menu-item-object-custom menu-item-139">
              <a title="Instagram" target="_blank" href="http://instagr.am"><i class="fa fa-instagram fa-3x"></i></a>
            </li>
          </ul>
        </div>
      </aside>
      <aside id="text-7" class="widget widget_text">
        <div class="textwidget">
          <div class="career-sc">
            <span id="education-link">
              <a href="https://107.170.230.125/careers" class="button btn-careers">
                <div class="icon-label">
                  <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
                </div>
                <div class="label">
                  <span style="font-weight:500;font-size:15px;"> Click Here For Career Opportunities </span><br>
                  <span class="mini-click-here"></span>
                </div>
              </a>
            </span>
          </div>
        </div>
      </aside>
    </div>
  </section>
</section>

<script>
    var recaptchacalls = 0;
    var onloadCallback = function(e) {
      grecaptcha.render('cap-' + recaptchacalls, {
        'sitekey' : '6LcEHhYUAAAAAPmdRCIfMjhd3pFjcXHrcTSnAMUx'
      });
  
      recaptchacalls++;
    };
    console.log("recaptchacalls", recaptchacalls)
</script>