<div id="phone-numbers" class="map-heading">
  <span id="big-phnum" class="big-num">
    <i class="fa fa-phone fa-2x" aria-hidden="true" style="color:#f75448;"></i>
    <br> 562-924-5526
  </span>
  <span id="big-faxnum" class="big-num">
    <i class="fa fa-fax fa-2x" aria-hidden="true" style="color:#f75448;"></i>
    <br> 562-924-1040
  </span>
</div>
[intergeo id="1gzN"][/intergeo]

<div class="map-overlay">
  <h2>CFGC</h2>
  <h4><i class="fa fa-heart" aria-hidden="true" style="color:#f75448;"></i>&nbsp;Main Office</h4>
  <p>
    10929 South Street<br>Suite 208B<br>Cerritos, CA 90703<br><br>
    <i class="fa fa-map-marker" aria-hidden="true" style="color:#f75448;"></i>
    <a class="circle-link" href="https://goo.gl/maps/Myb8cijpGPF2" style="color:#f75448;">Google Maps</a>
  </p>
</div>

<section class="email-link-wrapper">
  <span id="email-link">
    <span class="label">email: </span>
    <a href="mailto:info@cfgcenter.com" class="button email-link btn-cyan">info@cfgcenter.com</a>
  </span>
</section>

<script>
    var recaptchacalls = 0;
    var onloadCallback = function(e) {
      grecaptcha.render('cap-' + recaptchacalls, {
        'sitekey' : '6LcEHhYUAAAAAPmdRCIfMjhd3pFjcXHrcTSnAMUx'
      });
  
      recaptchacalls++;
    };
    console.log("recaptchacalls", recaptchacalls)
</script>