<header id="family-ribbon">
  <div class="mini-jumbotron">
    
  </div>
  
</header>
<section id="big-facts">
  <div class="facts-container">
    <div class="big-facts-l">
      <span class="lil-big-stat-label">WE ARE A</span>
      <span class="big-stat">501-C3</span>
      <span class="big-stat-label">Non-Profit Agency</span>
    </div>
    <div class="big-facts-full">
      that provides high quality counseling services to children in need, plus their family members
    </div>
    <div class="big-facts-r">
      <div class="experience-l">
        We've been doing so for more than
      </div>
      <div class="experience-r">
        <span class="big-stat">40</span><br>
        <span class="big-stat-label">years</span>
      </div>
    </div>
  </div>
</section>

<section id="communities">
  
</section>

<section id="detailed-about">
  <div class="mini-hero">
    <img src="https://107.170.230.125/wp-content/uploads/2017/02/emergency-exit.png" alt="Community Family Guidance Center" />
  </div>
  <div id="in-depth-about" class="paragraphs">
    <h3>Established in 1976</h3>
  </div>
</section>
