<section id="about-us-header" class="top-level-section-heading">
  <div class="row narrow quote-as-title">
    <div class="col-twelve">
      <div class="top-level-section-title">
        <h3 class="animate-this impact-header">Childhood should be a time of growth and discovery.</h3>
      </div>
    </div>
  </div>
</section>


<section class="child-impact upper">
  <div class="paragraphs row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
      <p>
        For many children in Southeast Los Angeles County, however, childhood has been compromised by abuse and neglect, poverty, and family conflicts. 
        In 2009, 157,960 children were referred to the Los Angeles County Department of Children and Family Services for allegations of abuse or neglect, and 19,635 children were living in foster care, relative care, or adoptive homes.  
      </p>
      <p>
        Often overwhelmed with poverty, substance abuse, and their own mental health needs, 
        the parents of these children are unable to provide the safety and security these children need.
      </p>
    </div>
  </div>
</section>

<section id="about-cta" class="call-to-action ribbon-wrap" role="region" aria-label="Ribbon">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="white-text strong">
            Mental health disorders impact about 1 in 5 U.S. children
          </h2>
        </div>
      </div>
		</div>
    <div class="citation text-right">
      <cite class="nimh-2015 white-text">National Institute of Mental Health, 2015</cite>
    </div>
	</div>
 
</section>

<section class="child-impact lower">
  <div class="paragraphs row">
    <div class="col-md-4">
      <p>
        Children impacted by abuse and neglect are at a higher risk of developing mental health disorders, 
        such as depression, anxiety disorders, and behavioral difficulties 
      </p>
      <p>
        With comprehensive, individualized treatment, however, many of these children and their families can lead healthy and happy lives.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        At Community Family Guidance Center, we aim to support the success of children and families by reducing the impact of childhood trauma and abuse, 
        encouraging the development of positive social and emotional skills, and strengthening healthy family relationships.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        To achieve these goals, we provide an array of mental health services designed to help families and individuals function at their highest levels. 
        From prevention programs to intensive outpatient programs, we provide an array of services specifically designed to support each person and family’s unique needs.
      </p>
    </div>
  </div>
</section>





<section id="about">
  <div class="about-profile-bg"></div>
  <div class="about-wrap">
    <div class="about-profile">
      
      <div class="about-profile-bg"></div>
      
      <div class="intro">
        <h3 class="animate-this">About CFGC</h3>
        <h1 class="animate-this">Established 1976</h1>

        <p class="lead animate-this">
          Our diverse, bilingual staff of over 65 managers, supervisors, therapists, case managers, and support personnel is committed to our community, 
          and to our goal of supporting the success of families. 
        </p>
      </div>

      <p id="mission-1" class="animate-this mission">
        We have developed strong community partnerships with other local social service agencies. 
        These partnerships strengthen families by allowing us to provide services through a collaborative, integrated approach to treatment. 
        Our highly involved and dedicated Board of Directors includes prominent local business men and women, local educators, and long term residents of the communities we serve. 
        Our philosophy is that all children and families can be healthy, happy, and successful with the appropriate skills and support. 
      </p>
      <p id="mission-2" class="animate-this mission">
        At Community Family Guidance Center, we are committed to providing affordable, high quality, culturally sensitive mental health services to children and their families.
      </p>

      <p><a href="/contact" class="btn button btn-contact-about full-width animate-this">Contact CFGC</a></p>
      <!-- end about-profile  -->
    </div>


    <link href="https://fonts.googleapis.com/css?family=Bitter|Nunito+Sans|Unica+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Overlock+SC" rel="stylesheet">



    <div class="about-facts">
      <div class="intro">
        <h3 class="animate-this">We Are A</h3>
        <h1 id="five-01-c3" class="animate-this">501(c)(3)</h1>
        <h2 id="non-profit-agency" class="animate-this">Non-Profit Agency</h1>
      </div>

      <div class="services">
        
        <div class="row services-header">
          <div class="col-sm-12">
            <h4>CFGC Serves These Communities:</h4>
            <div class="colored-line"></div>
            <div class="and-surrounding-areas">
              (and surrounding areas)
            </div>
          </div>
        </div>
        <div class="row">
          <div class="city col-sm-6 col-xs-12 artesia">
            Artesia
          </div>
          <div class="city col-sm-6 col-xs-12 bellflower">
            Bellflower
          </div>
          <div class="city col-sm-6 col-xs-12 cerritos">
            Cerritos
          </div>
          <div class="city col-sm-6 col-xs-12 downey">
            Downey
          </div>
          <div class="city col-sm-6 col-xs-12 lakewood">
            Lakewood
          </div>
          <div class="city col-sm-6 col-xs-12 norwalk">
            Norwalk
          </div>
          <div class="city col-sm-6 col-xs-12 paramount">
            Paramount
          </div>
          <div class="city col-sm-6 col-xs-12 hawaiian-gardens">
            Hawaiian Gardens
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>



