<section id="about-us-header" class="top-level-section-heading">
  <div class="row narrow quote-as-title">
    <div class="col-twelve">
      <div class="top-level-section-title">
        <h3 class="animate-this impact-header">Childhood should be a time of growth and discovery</h3>
      </div>
    </div>
  </div>
</section>


<section class="child-impact upper">
  <div class="paragraphs row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
      <p>
        &hellip;however, </br>
        for many children in Southeast Los Angeles County, childhood has been compromised by abuse and neglect, poverty, and family conflicts. In 2009, 157,960 children were referred to the Los Angeles County Department of Children and Family Services for allegations of abuse or neglect, and 19,635 children were living in foster, relative care, or adoptive homes. 
      </p>
      <p>
        Often overwhelmed with poverty, substance abuse, and their own mental health needs, the parents of these children are unable to provide safety and security for them. 
      </p>
    </div>
  </div>
</section>

<section id="about">
  <div class="about-profile-bg"></div>
  <div class="about-wrap">
    <div class="about-profile">
      
      <div class="about-profile-bg"></div>
      
      <div class="intro">
        <h3 class="animate-this">About CFGC</h3>
        <h1 class="animate-this">Established 1976</h1>

        <p class="lead animate-this">
          we have been developing strong community partnerships with other local social service agencies. These partnerships allow us to provide services that strengthen families through a collaborative, integrated approach to treatment.
        </p>
      </div>

      <p id="mission-1" class="animate-this mission">
        Our diverse, bilingual staff of over 65 managers, supervisors, therapists, case managers, and support personnel are committed to our community, and to our goal of supporting the success of families. Our highly involved and dedicated Board of Directors includes prominent local business men and women, local educators, and long term residents of the communities we serve. Our philosophy is that all children and families can be healthy, happy, and successful with the appropriate skills and support. 
      </p>
      <p id="mission-2" class="animate-this mission">
        At Community Family Guidance Center, we are committed to providing affordable, high quality, culturally sensitive mental health services to children and their families.
      </p>

      <p><a href="https://cfgcenter.com/contact" class="btn button btn-contact-about full-width animate-this">Contact CFGC</a></p>
      <!-- end about-profile  -->
    </div>

    <div class="about-facts">
      <div class="intro">
        <h3 class="animate-this">We Are A</h3>
        <h1 id="five-01-c3" class="animate-this">501-C3</h1>
        <h2 class="animate-this">Non-Profit Agency</h1>
      </div>

      <div class="services">
        
        <div class="row services-header">
          <div class="col-sm-12">
            <h4>CFGC services these communities</h4>
            <div class="colored-line"></div>
          </div>
        </div>
        <div class="row">
          <div class="city col-sm-6 col-xs-12">
            Artesia
          </div>
          <div class="city col-sm-6 col-xs-12">
            Bellflower
          </div>
          <div class="city col-sm-6 col-xs-12">
            Cerritos
          </div>
          <div class="city col-sm-6 col-xs-12">
            Downey
          </div>
          <div class="city col-sm-6 col-xs-12">
            Hawaiian Gardens
          </div>
          <div class="city col-sm-6 col-xs-12">
            Lakewood
          </div>
          <div class="city col-sm-6 col-xs-12">
            Norwalk
          </div>
          <div class="city col-sm-6 col-xs-12">
            Paramount
          </div>
        </div>
      </div>
      <div class="and-surrounding-areas">
        (and surrounding areas)
      </div>
    </div>
  </div>
</section>

<section id="about-cta" class="call-to-action ribbon-wrap" role="region" aria-label="Ribbon">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="white-text strong">
            In the general population, about 1 in 5 children in America are impacted by a mental health disorder
          </h2>
        </div>
      </div>
		</div>
	</div>
</section>

<section class="child-impact lower">
  <div class="paragraphs row">
    <div class="col-md-4">
      <p>
        Children who have been impacted by abuse and neglect have a higher chance of developing mental health disorders than their peers, such as anxiety disorders, depression, and behavioral difficulties. 
      </p>
      <p>
        However, with comprehensive, individualized treatment, many of these children and their families can lead healthy and happy lives.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        At Community Family Guidance Center we aim to support the success of children and families by reducing the impact of childhood trauma and abuse, supporting the development of positive social and emotional skills, and strengthening healthy family relationships.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        To support these goals, we provide an array of mental health services designed to help families reach their highest level of functioning. From prevention programs to intensive outpatient programs, we provide an array of services specifically designed to meet each family’s unique need.
      </p>
    </div>
  </div>
</section>
