<p>
  In collaboration with University of Southern California (USC) School of Social Work, CFGC manages a Master of Social Work Field Work Placement program that is aligned with USC School of Social Work’s Teaching Institute Practicum Course. 
  Through this program, MSW Foundation and Concentration students are seamlessly integrated into the organization’s clinical services. 
  Those with community organization and planning concentrations (COPA) are placed within our administrative division. 
  As part of the placement experience, students receive individual and group supervision, as well as training in selected areas in order to receive learning experiences that not only build on their foundation and skills, 
  but also develop additional skills and knowledge in their area of interest.
</p>

<div class="colored-line" style="margin-top:50px;"></div>

<h3 class="msw">Foundation & Mental Health/Families & Children Concentration Placement</h3>



<div class="concentration">
  <h4>Foundation and clinical concentration students can be involved in the following activities:</h4>
  
  <ul>
    <li>Bio-Psycho-social assessment and clinical assessment</li>
    <li>Clinical case management</li>
    <li>Advocacy & Linkage</li>
    <li>Outreach</li>
    <li>Interagency and intra-agency collaboration with mental health, schools, social services providers</li>
    <li>Psychotherapy with children, adolescents, adults and families</li>
    <li>Working with specialized populations such as teen parents</li>
    <li>Group psychotherapy</li>
    <li>Family Therapy</li>
    <li>Short and long-term psychotherapy</li>
    <li>Psycho-education groups with children, adolescents, adults and families</li>
    <li>School, home and  community based services</li>
    <li>Crisis intervention & Management</li>
    <li>Risk assessment</li>
    <li>Treatment planning and evaluation</li>
    <li>Developing DSM diagnoses</li>
    <li>Prevention, Early Intervention, and Intervention programs</li>
    <li>Case Presentations & Consultation</li>
    <li>Child abuse prevention program (Safety Bear)</li>
    <li>Functioning as part of a multi-disciplinary team</li>
    <li>Evidence-based training</li>
  </ul>
</div>


<div class="colored-line" style="margin-top:50px;"></div>


<h3 class="msw">Community Organization & Planning Concentration (COPA)</h3>
  
<div class="concentration">
  <h4>Students can be involved in the following activities:</h4>
  
  <ul>
    <li>Program development including needs assessment, budget, and strategic planning</li>
    <li>Participate in organizational development</li>
    <li>Assist in program implementation</li>
    <li>Researching both federal and private funding sources, grant writing and reporting</li>
    <li>Marketing</li>
    <li>Opportunities to participate in fundraising campaigns</li>
    <li>Program evaluation utilizing both quantitative and qualitative methods</li>
    <li>Opportunities to participate in leadership and management development</li>
    <li>
      Networking with key stakeholders in the community including school districts, community mental health providers, 
      government agencies, and social service providers
  
    </li>
  </ul>
</div>