<div class="single-service border-bottom-hover">
  
  <h3 class="colored-text text-center">
    Subscribe to Our Newsletter
  </h3>
  
  <div class="newsletter-form-container">
    
    <form method="POST" name="subscribe_form" onsubmit="return validate_form()" onload="setupPage('email');" action="https://sna.etapestry.com/prod/HostedOnlineDonorRegSave.jsp">
      <!-- some inputs here ... -->
      <?php wp_nonce_field( 'name_of_my_action', 'subject' ); ?>
      
      
      <div class="newsletter-control row">
        
        <div class="newsletter-control-input col-xs-12 col-sm-6">
          <div class="newsletter-control-input-content">
            <input type="text" name="first_name" id="first-name" class="ng-pristine ng-valid ng-touched" placeholder="First Name">
          </div>
        </div>
        
        <div class="newsletter-control-input col-xs-12 col-sm-6">
          <div class="newsletter-control-input-content">
            <input type="text" name="last_name" id="last-name" class="ng-pristine ng-valid ng-touched" placeholder="Last Name">
          </div>
        </div>
        
      </div>
      
      
      
      <div class="newsletter-control row">
        
        <div class="newsletter-control-input col-xs-12 col-sm-9">
          <div class="newsletter-control-input-content">
            <input type="text" id="email" name="email" class="ng-pristine ng-valid ng-touched" placeholder="Email Address*">
          </div>
        </div>
        
        <div class="newsletter-control-btn col-xs-12 col-sm-3">
          <button type="submit" id="user-submit-button" class="btn btn-signup">Sign Up</button>
        </div>
        
      </div>
      <input type="text" id="xyq" name="<?php echo apply_filters( 'honeypot_name', 'date-submitted' ); ?> " value="" style="display:none;">      
      
    </form>
  </div>
</div>
