<section class="visual resource-visual">
  <div class="container">
    <div class="text-block">
      <div class="heading-holder">
        <h1></h1>
      </div>
    </div>
  </div>
  <img src="https://cfgcenter.com/wp-content/uploads/2017/03/directory-e1489462508145.jpg" alt="" class="bg-stretch regular bg-resources" style="">
</section>

<section id="resources">
  <div class="row">
    
    <div class="card col-xs-12 col-sm-6">
      <img src="https://cfgcenter.com/wp-content/uploads/2017/03/sucasa.png" alt="Avatar" style="width:256px;">
      <div class="card-container">
        <h4>
          <a href="https://cfgcenter.com/pf_contact/su-casa/" class="resource-card-link">
            Su Casa
          </a>
        </h4>
        <p>562-402-4888</p>
      </div>
    </div>
    
    
    <div class="card col-xs-12 col-sm-6">
      <img src="https://cfgcenter.com/wp-content/uploads/2017/03/lacada.jpeg" alt="Avatar" style="width:256px;">
      <div class="card-container">
        <h4>
          <a href="https://cfgcenter.com/pf_contact/l-a-cada/" class="resource-card-link">L.A. CADA</a>
        </h4>
        <p>562-906-2676</p>
      </div>
    </div>
    
    <div class="card col-xs-12 col-sm-6">
      <img src="https://cfgcenter.com/wp-content/uploads/2017/03/211.jpg" alt="Avatar" style="width:256px;">
      <div class="card-container">
        <h4>
          <a href="https://cfgcenter.com/pf_contact/211-l-a-county/" class="resource-card-link">211 L.A. County</a>
        </h4>
        <p> Dial 211 from ANY phone </p>
      </div>
    </div>

    <div class="card col-xs-12 col-sm-6">
      <img src="https://cfgcenter.com/wp-content/uploads/2017/03/id-badge2.png" alt="Avatar" style="width:256px;">
      <div class="card-container">
        <h4>
          <a href="https://cfgcenter.com/pf_contact/exchange-club-family-support-center" class="resource-card-link long">
            Exchange Club Family Support Center
          </a>
        </h4>
        <p>562-904-9590</p>
      </div>
    </div>

    
    <div class="card col-xs-12 col-sm-6">
      <img src="https://cfgcenter.com/wp-content/uploads/2017/03/dcfs.png" style="width:256px;">
      <div class="card-container">
        <h4>
          <a href="https://cfgcenter.com/pf_contact/department-of-children-and-family-services/" class="resource-card-link long">
            Los Angeles County Department of Children & Family Services
          </a>
        </h4>
        <p>800-540-4000</p>
      </div>
    </div>

    

    <div class="card col-xs-12 col-sm-6">
      <img src="https://cfgcenter.com/wp-content/uploads/2017/03/deptmhlogo.png" style="width:256px;">
      <div class="card-container">
        <h4>
          <a href="https://cfgcenter.com/pf_contact/department-of-mental-health/" class="resource-card-link long">
            Los Angeles County Department of Mental Health
          </a>
        </h4>
        <p>800-854-7771</p>
      </div>
    </div>
    
    
  </div>
  
</section>


