<section id="programs-and-services">
  <section class="visual">
    <div class="container">
      <div class="text-block">
        <div class="heading-holder">
          <h1></h1>
        </div>
      </div>
    </div>
    <img src="https://107.170.230.125/wp-content/uploads/2017/02/diverse-students-test-tubes.jpeg" alt="" class="bg-stretch regular" style="">
    <img src="https://107.170.230.125/wp-content/uploads/2017/02/students-diversity-wide.jpeg" alt="" class="bg-stretch wide" style="">
  </section>
  <section class="services-intro">
    <div class="container">
      <div class="row">
       <div class="text-box col-md-offset-1 col-md-10">
        <h2>Programs And Services</h2>
          <p class="services-thesis">
            Community Family Guidance Center (CFGC) offers a broad range of outpatient mental health services employing Best Practices of integrating evidence-based programs focusing on prevention, early intervention and treatment services to support our client’s journey to wellness. 
          </p>
          <p class="services-demographic">
            Our target demographic is children, adolescents, and transition age youth, 3-21 years of age and their families who are high-risk, low-income, and living in underserved areas throughout Southeast Los Angeles County.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="services-main">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <ul class="visual-list">
            <li>
              <div class="img-holder">
                <i class="fa fa-clock-o fa-3x dark-coral-text"></i>
              </div>
              <div class="text-holder">
                <h3>Early Identification</h3>
                <p>
                  We believe in the importance of early identification of emotional and behavioral difficulties through good assessment and evaluation, the first time, which lends itself to the right level of care and treatment before challenges escalate into disorders needing long-term intensive treatment.  
                </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-sun-o fa-3x yellow-text"></i>
              </div>
              <div class="text-holder">
                <h3>Empowerment</h3>
              	<p>
                  We believe it’s our obligation to ensure that every person who comes in contact with us feels a sense of safety, trustworthiness and empowerment, as a result of our commitment to a trauma-informed approach to service delivery, community engagement and organizational management.
                </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-cogs fa-3x dark-orange-text"></i>
              </div>
              <div class="text-holder">
                <h3>Collaboration</h3>
                <p>We believe in taking a collaborative approach to meeting our client’s needs through therapeutic services, case management and strong community partnerships. </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-globe fa-3x cyan-text" aria-hidden="true"></i>
              </div>
              <div class="text-holder">
                <h3>Accessibility</h3>
                <p>We believe in providing culturally and linguistically appropriate services to the children and families we serve. </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-users fa-3x green-text"></i>
              </div>
              <div class="text-holder">
                <h3>Family</h3>
                <p>We believe the mental health needs of one individual impact the entire family.  For this reason, we have created an array of family support services that build healthy family units for our clients to heal, thrive, and achieve their potential. </p>
              </div>
            </li>
            
          </ul>
        </div>
        <div class="col-md-7">
          <div class="slide-holder scroll-effect-init scroll-effect-animate">
            <h2 class="hidden-xs hidden-sm text-primary"></h2>
            <div class="img-slide scroll-trigger">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/family-in-good-hands.png" height="624" width="1184">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services-resources resources">
    <div class="section-overlay-layer">
      <div class="container">
        <div class="section-header">
          <h2 id="resources" class="dark-text">Range of our Programs And Services</h2>
          <div class="colored-line"></div>
        </div>
        
        <div id="resource-links" class="links-container">
          
          <div class="row no-gutter">
            <div class="col-xs-12 padded-summary gray-bg">
              In partnership with Los Angeles County Department of Mental Health, Community Family Guidance Center provides Specialty Mental Health Services to high-risk, underserved children, youth, and families through several diverse programs. Our main focus is the reduction of psychiatric symptoms experienced by children and adolescents in order to help them become emotionally healthy and thrive in their environment. Most clients served through these programs have Medi-Cal Insurance. We do, however, have some limited funding for the uninsured or those unable to access other services as well as programs developed to meet the needs of individuals without Medi-Cal coverage.  We categorize these outpatient services as Intensive Mental Health Services, Non-Intensive Mental Health Services, Prevention and Early Intervention Services, and Initiative Programs.
            </div>
          </div>
          
          <div class="row spacer col-xs-12">
            <h4 class="dark-text">The Following Links Offer Descriptions of our Programs</h4>
          </div>
          
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal1" class="button btn-coral" data-toggle="modal">
                <div class="label">
                  School Based Programs
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal2" class="button btn-yellow" data-toggle="modal">
                <div class="label">
                  Child Abuse Info
                </div>
              </a>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal3" class="button btn-green" data-toggle="modal">
                <div class="label">
                  Parent / Caregiver Services
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal4" class="button btn-green" data-toggle="modal">
                <div class="label">
                  Medication Management
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal5" class="button btn-orange" data-toggle="modal">
                <div class="label">
                  Partnerships / Collaborations
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">

            </div>
          </div>
          
          <div class="spacer col-xs-12">
            <h5 id="outpatient-services" class"services-mini-heading">
              Outpatient Services
            </h5>
          </div>
          
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal6" class="button btn-white" data-toggle="modal">
                <div class="label">
                  Intensive Outpatient Services
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal7" class="button btn-white" data-toggle="modal">
                <div class="label">
                  Non-Intensive Outpatient Services
                </div>
              </a>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6 col-xs-12"></div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal8" class="button btn-coral" data-toggle="modal">
                <div class="label">
                  Prevention / Early Interventions
                </div>
              </a>
            </div>
          </div>
        </div>
        
        <div class="education-link-wrapper">
          <span id="education-link">
            <a href="https://107.170.230.125/higher-education/" class="button btn-gray">
              <div class="icon-label">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <div class="label">
                <span style="font-weight:500;font-size:15px;">Masters Degree in Social Work</span><br>
                <span class="mini-click-here">Click Here for the Practicum Course</span>
              </div>
            </a>
          </span>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  <!-- Portfolio Modals -->
  <div class="service-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>School Based Programs</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/school-bus-minimal-e1488779170281.jpg" class="img-responsive img-centered" alt="teacher interacting with students">
              
              <p>
                CFGC provides Prevention and Early Intervention, Non-intensive and Intensive mental health services directly at school sites to reach children and adolescence that would not normally receive needed mental, 
                emotional and behavioral supports outside of the traditional school setting. 
                Our programs are designed to remove barriers such as transportation, scheduling issues that conflict with parent(s)/or guardian’s work schedules, and lack of financial resources. 
                No child is turned away due to their inability to pay which is difficult for many of the low-income families we serve. 
                CFGC’s therapist and case managers are fully integrated within the school setting to ensure response time is immediate, flexible and seamless to the needs of students, parents and school personnel. 
                The programs work closely with administrators and teachers to provide consultation and classroom management techniques, and are provided with an understanding of school readiness and educational milestones; moving along a continuum of care beginning in preschool, through elementary and middle school, and culminating in high school.
              </p>
              
              <hr class="star-primary">
              
              <h3>Families First</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/02/stock-family-photo-e1488771265294.png" class="img-responsive img-centered" alt="mother father toddler">
              <p class="service-left">
                Early infant mental health services for at-risk preschoolers, 3 to 5 years of age, who are displaying signs of behavioral challenges; which makes them extremely vulnerable for child abuse and maltreatment. 
                This unique program is designed to strengthen early childhood mental health and redirect identified behavioral difficulties through dyadic (parent/child) mental health services, giving them the foundation needed to enjoy a successful childhood and school career.
              </p>
              
              <hr class="star-primary">

              <h3>Our Communities Our Schools</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/teacher-students-stock-photo.jpg" class="img-responsive img-centered" alt="teacher interacting with students">
              <p class="service-left">
                Through this program, therapists and case managers are integrated directly into school sites, giving them the ability to seamlessly work with students and parents to create treatment plans based upon individualized mental, emotional, or behavioral needs. 
                This program is also designed to work in collaboration with administrators and teachers to provide consultation and classroom management techniques. 
                Pervasive concerns such as child abuse/maltreatment and bullying are also addressed through intervention and prevention education to the entire school community.
              </p>
              
              <hr class="star-primary">
              
              <h3>Safety Bear</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpg" class="img-responsive img-centered" alt="mother father toddler">
              <p class="service-left">
                This early intervention program provides child abuse education to elementary school children. 
                The goal of this program is to educate young children about child abuse, at their level of understanding, utilizing methods such as coloring book exercises, games and the “Safety Bear” to learn the difference between “good” and “bad” touches, 
                which secrets are safe to keep and which are not, and when an adult or older child is being inappropriate, and most importantly 
                –The three Safety Bear Rules (NO, GO, and TELL).
              </p>
              
              <hr class="star-primary">
              
              <h3>Teen Parent/Pregnant Minor Program</h3>
              
              <p class="service-left">
                This program works directly with school districts to assist in implementing the California School Aged Families (Cal-SAFE) program. 
                Through this program, CFGC provides counseling and case management services to pregnant and parenting students. 
                The goal of the program is to increase graduation rates; transition students into Post-Secondary education and/or work/vocation; and improve parenting skills, 
                creating the overarching goal to decrease child abuse and maltreatment by assisting students in developing the emotional and environmental growth needed to graduate and successfully transition into adulthood.
              </p>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Child Abuse Info</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/child-abuse-1.jpg" class="img-responsive img-centered" alt="stop child abuse">
              <p class="service-left">
                To ensure that the youth and families we serve receive the supports needed to <strong>heal, thrive and achieve their potential</strong>, 
                CFGC is making a deeper impact into the communities we serve through organizational-wide child abuse prevention and intervention services that are not only integrated into our school based programs such as 
                “Safety Bear”, Teen Parent/Pregnant Minor Program, and Families First, but we have teamed up with Su Casa, a nonprofit organization dedicated to supporting domestic violence survivors. 
                This partnership was developed with the fundamental understanding that children who witness domestic violence are victims of child abuse, which necessitates immediate trauma related mental health services.
              </p>
              
              <hr class="star-primary">
              
              <h3>Su Casa Collaboration</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/chld-abuse-2.jpg" class="img-responsive img-centered" alt="stop child abuse">
              <p class="service-left">
                Through this collaboration, Su Casa’s transitional shelter residents receive mental health treatment for immediate trauma-related symptoms including depression, anxiety, PTSD symptoms in adults and children, and behavioral problems in children.  Direct services are also offered to children who are exposed to violence, teaching them healthy coping skills to break the cycle of abuse; and promote healthier family relationships between parents and their children.
              </p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Parent / Caregiver Services</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/parent-caregiver-main-e1488781246652.jpg" class="img-responsive img-centered">
              <p>
                Yearly, CFGC receives an increased demand for parenting services, especially among low to moderate income families. 
                The Center’s Family Support offers an array of programs and services including group and family therapy, child abuse prevention, community resources and outreach to strengthen and improve the resiliency of the communities we serve.
              </p>
              
              <hr class="star-primary">
              
              <h3>Parental Support Division</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/parent-caregiver.jpg" class="img-responsive img-centered">
              <p class="service-left">
                CFGC offers a variety of parenting groups through its School-based programs, Family Wellness and Community Outreach programs. Parenting groups focus largely on prevention with the aim of increasing communication between parents and children, 
                improving the relational dynamics among family members, decreasing parental stress, and improving parent’s effectiveness in implementing limit setting. Ultimately, the goal of these direct parental supports is to increase a child’s protective factors to decrease child abuse, delinquency, and school failure.
              </p>
              
              <hr class="star-primary">
              
              <h3>Family Wellness</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/family-wellness.jpg" class="img-responsive img-centered">
              <p class="service-left">
                CFGC offers a variety of parenting groups through its School-based programs, Family Wellness and Community Outreach programs. 
                Parenting groups focus largely on prevention with the aim of increasing communication between parents and children, improving the relational dynamics among family members, decreasing parental stress, and improving parent’s effectiveness in implementing limit setting. 
                Ultimately, the goal of these direct parental supports is to increase a child’s protective factors to decrease child abuse, delinquency, and school failure.
              </p>
              
              <hr class="star-primary">
              
              <h3>Safety Bear Cares</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The parent portion of our “Safety Bear“ Program that stemmed from providing the Safety Bear Program with parents in attendance, of which, many realized or admitted, often for the first time, that they were abused as children. 
                Through “Safety Bear Cares”, short-term therapy is provided to assist these parents in addressing the reality of their own experiences, their concerns for their children, and if their experiences are impacting their parenting, and next steps.
              </p>
              
              <hr class="star-primary">
              
              <h3>Functional Family Therapy (FFT)</h3>
              <!-- <img src="https://107.170.230.125/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpgg" class="img-responsive img-centered"> -->
              <p class="service-left">
               A family-centered, strength-based model designed to improve family relationships and household stability in families with at-risk youths, ages 10-18, exhibiting behavioral problems, alcohol or substance abuse compounded by family conflicts and instability.
              </p>
              
              <hr class="star-primary">
              
              <h3>Strengthening Families</h3>
              <!-- <img src="https://107.170.230.125/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpgg" class="img-responsive img-centered"> -->
              <p class="service-left">
               A family centered, culturally sensitive parenting and family strengthening program provided in a group therapy setting. 
               This program has been proven to increase positive family relationships and decrease problematic behaviors such as delinquency, 
               adolescent drug abuse, poor school performance and involvement in the juvenile justice system through enhancing family’s protective factors.
              </p>
              
              <hr class="star-primary">
              
              <h3>Reflective Parenting Program</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/reflectiv-parenting-e1488782001250.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The Reflective Parenting Program is geared towards 3 – 5 year olds and aims to improve the parent/child relationship by giving parents the tools needed to build secure relationships with their children. 
                The program is provided in a group setting which enables parents through peer support to discover new ways to think about the relationship between behavior, 
                feelings, and actions, while learning strategies and techniques needed to enhance their personal reflective functioning when responding to their children.  
              </p>
              
              <hr class="star-primary">
              
              <h3>Protective Factors</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/5-factors-e1488789769278.jpg" class="img-responsive img-centered">
              <p class="service-left">
                Building childhood/youth resilience through five major protective factors:
                <ol class="service-left">
                  <li >Concrete support in time of need;</li>
                  <li>The presence of a good support system;</li>
                  <li>The use of good parenting skills;</li>
                  <li>The mental health and psychological resilience of the parents or other caregivers;</li>
                  <li>TThe child’s own social-emotional and cognitive capabilities.</li>
                </ol> 
                <div class="colored-line-left"></div>
                <cite class="footnote service-left">Center for the Study of Social Policy – literature review (Knitzer & Lefkowitz, 2006)</cite>
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Medication Management</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/medication-management-e1488794960901.jpg" class="img-responsive img-centered">
              
              <h3>Medication Support Services</h3>
              <p class="service-left">
                For many children, counseling services are most effective when in conjunction with psychiatric medication support.  At CFGC, we carefully assess the needs of each child and the values and wishes of the family when considering medication services for our clients.  The decision to include psychiatric medication support is a decision made between the family, the therapist, and the psychiatrist. 
                If medication is prescribed, it is carefully monitored by our highly skilled psychiatrists who are specifically trained in working with children.
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Partnerships / Collaborations</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/partnership-2-e1488796871993.jpg" class="img-responsive img-centered">
                
              <h3>School-based Partnerships</h3>
              <p class="service-left">
                <ul class="service-left">
                  <li><a href="" target="_blank">ABC Unified School District              </a></li>
                  <li><a href="" target="_blank">Bellflower Unified School District       </a></li>
                  <li><a href="" target="_blank">Downey Unified School District           </a></li>
                  <li><a href="" target="_blank">Little Lake City School District         </a></li>
                  <li><a href="" target="_blank">Long Beach Unified School District       </a></li>
                  <li><a href="" target="_blank">Norwalk-La Mirada Unified School District</a></li>
                  <li><a href="" target="_blank">Paramount Unified School District        </a></li>
                </ul>
              </p>
                
              <hr class="star-primary">
              
              <h3>Collaborative Partners</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/collaboration-e1488796759679.jpg" class="img-responsive img-centered">
              <p class="service-left">
                <ul class="service-left">
                  <li><a href="" target="_blank">The Whole Child                         </a></li>
                  <li><a href="http://lacada.com" target="_blank">L.A. CADA</a></li>
                  <li><a href="" target="_blank">Su Casa Ending Domestic Violence        </a></li>
                  <li><a href="" target="_blank">University of Southern California (USC) </a></li>
                  <li><a href="" target="_blank">Exchange Club Family Support Centert    </a></li>
                </ul>
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl"></div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Intensive Outpatient Services</h2>
                    <hr class="star-primary">
                    <img src="https://107.170.230.125/wp-content/uploads/2017/03/intensive-e1488798895332.jpg" class="img-responsive img-centered" alt="">
                    <p>
                      Intensive mental health services are provided by CFCG in order to reduce the likelihood of children on our community being placed in more restrictive settings such as residential treatment centers and psychiatric hospitals. 
                      Teams of therapists and case managers work seamlessly with families and others involved in the child’s care to stabilize crisis situations. 
                      Services can be provided multiple times weekly, and can be mostly field based.  Programs within our intensive services are Full Service Partnership (FSP) and Field Capable Clinical Services (FCCS) 
                      FSP offers services to children 0-15 years old and has some funding available to provide supportive services to others within the family. 
                    </p>
                    <ul class="list-inline item-details">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 id="non-os">Non-Intensive Outpatient Services</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/non-intensive-e1488799322682.jpg" class="img-responsive img-centered" alt="">
              <p>
                Therapy, medication and case management services are provided on a weekly basis to children and their families. Services may be office-based, school-based or home-based. 
                These services address the family as a whole to improve functioning in the home, school and community. 
                The therapist, family, and others involved in the client’s life work together collaboratively to help the client and family meet their self-identified goals. 
                Two programs included in these services are Family Preservation and Enhanced Mental Health services for children who are involved with the Department of Children Services.
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Prevention / Early Interventions</h2>
              <hr class="star-primary">
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/prevention-e1488799977251.jpg" class="img-responsive img-centered" alt="">
              <p>
                Prevention and Early Intervention (PEI) programs are utilized to meet the needs of those clients experiencing their first interaction with the mental health system who can benefit from short term treatment. 
                The goal of our PEI programs is to quickly meet the needs of the family and return the family to their previous level of functioning as soon as possible, preventing the need for more intensive services in the future. 
                Our PEI program utilizes five Evidence Based Practices. These practices include Trauma-focused Cognitive Behavioral Therapy, Individual Cognitive Behavioral Therapy, Reflective Parenting Program, Parent Child Interactive Therapy, and Managing and Adapting Practices. 
                <div class="intro text-left bold-text">A brief description of each practice follows:</div>
              </p>
          
              <hr class="star-primary">
          
              <h3>Trauma-focused Cognitive Behavioral Therapy </h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/cognitive-behavioral-therapy.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The goal of Trauma-Focused Cognitive Behavioral Therapy (TF-CBT) is to help children, adolescents, and their parents/caregivers overcome trauma-related challenges such as anxiety, depression, and withdrawal. 
                TF-CBT is designed to reduce negative emotional and behavioral responses following child sexual abuse, domestic violence, traumatic loss, and other traumatic events. 
                It also provides support and teaches skills to the parent/caregiver to cope with their own emotional distress and to support their children.
              </p>
              
              <hr class="star-primary">
          
              <h3>Individual Cognitive Behavioral Therapy</h3>
              <!-- <img src="https://107.170.230.125/wp-content/uploads/2017/03/parent-caregiver.jpg" class="img-responsive img-centered"> -->
              <p class="service-left">
                Individual Cognitive Behavioral Therapy (ICBT) is intended as an early intervention program for individuals who are experiencing or may be at risk for symptoms of anxiety, depression, and the effects of trauma which impact multiple areas of daily living. 
                This treatment modality is a collaborative effort between the therapist and client and utilizes different therapeutic methods to address negative thought and behavior patterns that interfere with daily functioning. 
                ICBT treatment can be utilized for transitional aged youth and adults
              </p>
              
              <hr class="star-primary">
          
              <h3>Reflective Parenting Program</h3>
              <img src="https://107.170.230.125/wp-content/uploads/2017/03/reflectiv-parenting-e1488782001250.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The Reflective Parenting Program (RPP) is an innovative 10-week workshop series that engages groups of 6-10 parents in an in-depth experiential learning process. 
                Each week includes instruction, discussions and exercises to engage parents in various topics related to their child’s development. 
                The workshops enable parents to discover new ways to think about the links between behavior, feelings, and actions, while learning strategies and techniques designed to enhance their reflective functioning. 
                These interventions help children feel more secure in the parent-child relationship and provide families with tools that will be critical to the child’s developing capacity to form and maintain intimate, mutual, and supportive relationships in the future. 
              </p>
              
              <hr class="star-primary">
          
              <h3>Parent Child Interactive Therapy </h3>
              <!-- <img src="https://107.170.230.125/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpgg" class="img-responsive img-centered"> -->
              <p class="service-left">
                The goal of Parent Child Interactive Therapy (PCIT) is to improve the parent-child relationship. This EBP focuses on children ages 2–7 with acting out behaviors. 
                The treatment sessions utilize specialized play and family therapy interventions to build positive parenting skills and improve attunement and attachment between the child and caregiver. 
                The therapist is able to provide direct coaching to the parent via a one-way mirror and earbud audio system, thus enabling in vivo practice in implementing new parenting techniques
              </p>
              
              <hr class="star-primary">
          
              <h3>Managing and Adapting Practices</h3>
              <!-- <img src="https://107.170.230.125/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpgg" class="img-responsive img-centered"> -->
              <p class="service-left">
               A family centered, culturally sensitive parenting and family strengthening program provided in a group therapy setting. 
               This program has been proven to increase positive family relationships and decrease problematic behaviors such as delinquency, 
               adolescent drug abuse, poor school performance and involvement in the juvenile justice system through enhancing family’s protective factors.
              </p>
            
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>