<section id="programs-and-services">
  <section class="visual">
    <div class="container">
      <div class="text-block">
        <div class="heading-holder">
          <h1></h1>
        </div>
      </div>
    </div>
    <img src="https://cfgcenter.com/wp-content/uploads/2017/02/diverse-students-test-tubes.jpeg" alt="" class="bg-stretch regular" style="">
    <img src="https://cfgcenter.com/wp-content/uploads/2017/02/students-diversity-wide.jpeg" alt="" class="bg-stretch wide" style="">
  </section>
  <section class="services-intro">
    <div class="container">
      <div class="row">
       <div class="text-box col-md-offset-1 col-md-10">
        <h2>Programs And Services</h2>
          <p class="services-thesis">
            Community Family Guidance Center offers a broad range of outpatient mental health services that employ Best Practices to support our client’s journey to 
            wellness through the integration of evidence-based programs focusing on prevention, early intervention, and treatment services.
          </p>
          <p class="services-demographic">
            We focus on children, adolescents, and transition-age-youth and their families who are high-risk, low-income, 
            and living in underserved areas throughout Southeast Los Angeles County.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="services-main">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <ul class="visual-list">
            <li>
              <div class="img-holder">
                <i class="fa fa-clock-o fa-3x dark-coral-text"></i>
              </div>
              <div class="text-holder">
                <h3>Early Identification</h3>
                <p>
                  We believe in the importance of early identification of emotional and behavioral difficulties. 
                  Through effective assessment and evaluation, we can determine the right level of care and treatment before challenges escalate into disorders necessitating long-term intensive treatment.  
                </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-sun-o fa-3x yellow-text"></i>
              </div>
              <div class="text-holder">
                <h3>Empowerment</h3>
              	<p>
                  Our commitment to a trauma-informed approach to service delivery, community engagement, and organizational management ensures that every person 
                  who comes into contact with us feels safe, empowered, and respected. 
                </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-cogs fa-3x dark-orange-text"></i>
              </div>
              <div class="text-holder">
                <h3>Collaboration</h3>
                <p>
                  We believe in taking a collaborative approach to meeting our clients’ needs throughout all of our therapeutic services, case management, and community partnerships.
                </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-globe fa-3x cyan-text" aria-hidden="true"></i>
              </div>
              <div class="text-holder">
                <h3>Accessibility</h3>
                <p>We believe in providing culturally and linguistically appropriate services to the children and families we serve. </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <i class="fa fa-users fa-3x green-text"></i>
              </div>
              <div class="text-holder">
                <h3>Family</h3>
                <p>
                  We believe the mental health needs of one individual impact the entire family. 
                  For this reason, we have created an array of family support services that build healthy family units for our clients to heal, thrive, and achieve their potential.
                </p>
              </div>
            </li>
            
          </ul>
        </div>
        <div class="col-md-7">
          <div class="slide-holder scroll-effect-init scroll-effect-animate">
            <h2 class="hidden-xs hidden-sm text-primary"></h2>
            <div class="img-slide scroll-trigger">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/family-in-good-hands.png" height="624" width="1184">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services-resources resources">
    <div class="section-overlay-layer">
      <div class="container">
        <div class="section-header">
          <h2 id="resources" class="dark-text">Programs & Services We Offer</h2>
          <div class="colored-line"></div>
        </div>
        
        <div id="resource-links" class="links-container">
          
          <div class="row no-gutter">
            <div class="col-xs-12 padded-summary gray-bg">
              Our main focus is the reduction of psychiatric symptoms experienced by children and adolescents in order to help them become emotionally healthy and thrive in their environment. 
              Most clients served through these programs have Medi-Cal Insurance. 
              We do, however, have some limited funding for the uninsured or those unable to access other services, as well as programs developed to meet the needs of individuals without Medi-Cal coverage.
              We categorize these outpatient services as Intensive Mental Health Services, Non-Intensive Mental Health Services, Prevention and Early Intervention Services, and Initiative Programs.
              <br><br>
              <p style="color:#0D3C55;">
                In partnership with the Los Angeles County Department of Health, we provide over 27,000 hours of clinical work each year to roughly 1,650 high-risk, 
                underserved children (ages 0-21) and their families in Southeast Los Angeles County through the following programs:
              </p>
            </div>
          </div>
          
          <div class="spacer col-xs-12">
            <h5 id="outpatient-services" class"services-mini-heading">
              Outpatient Services
            </h5>
          </div>
          
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal6" class="button btn-white" data-toggle="modal">
                <div class="label">
                  Intensive Outpatient Services
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal7" class="button btn-white" data-toggle="modal">
                <div class="label">
                  Non-Intensive Outpatient Services
                </div>
              </a>
            </div>
          </div>
          
          
          <div class="spacer col-xs-12">
            <h5 id="our-services" class"services-mini-heading">
              Our Programs
            </h5>
          </div>
        
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal1" class="button btn-coral" data-toggle="modal">
                <div class="label">
                  School-Linked Services
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal2" class="button btn-yellow" data-toggle="modal">
                <div class="label">
                  Child Abuse Information
                </div>
              </a>
            </div>
          </div>
        
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal3" class="button btn-green" data-toggle="modal">
                <div class="label">
                  Parent / Caregiver Services
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal4" class="button btn-green" data-toggle="modal">
                <div class="label">
                  Medication Management
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal5" class="button btn-orange" data-toggle="modal">
                <div class="label">
                  Partnerships / Collaborations
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="#portfolioModal8" class="button btn-coral" data-toggle="modal">
                <div class="label">
                  Prevention / Early Interventions
                </div>
              </a>
            </div>
          </div>
        </div>
        
        
        
        
        <div class="education-link-wrapper">
          <span id="education-link">
            <a href="/services/masters-of-social-work-practicum-course/" class="button btn-gray">
              <div class="icon-label">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <div class="label">
                <span style="font-weight:500;font-size:15px;">Masters Degree in Social Work</span><br>
                <span class="mini-click-here">Click Here for the Practicum Course</span>
              </div>
            </a>
          </span>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  <!-- Service Detail Modals -->
  <div class="service-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>School-Linked Services</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/school-bus-minimal-e1488779170281.jpg" class="img-responsive img-centered" alt="teacher interacting with students">
              
              <p>
                CFGC provides Prevention and Early Intervention, Non-intensive and Intensive mental health services directly at school sites to reach children and adolescence that would not normally receive needed mental, 
                emotional and behavioral supports outside of the traditional school setting. 
                Our programs are designed to remove barriers such as transportation, scheduling issues that conflict with parent(s)/or guardian’s work schedules, and lack of financial resources. 
                CFGC does not bill our clients. Most of our clients are covered under their Medi-Cal insurance but we do also provide services to the un-insured through limited indigent funds and fundraising.
                CFGC’s therapist and case managers are fully integrated within the school setting to ensure response time is immediate, flexible and seamless to the needs of students, parents and school personnel. 
                The programs work closely with administrators and teachers to provide consultation and classroom management techniques, and are provided with an understanding of school readiness and educational milestones;
                moving along a continuum of care beginning in preschool, through elementary and middle school, and culminating in high school.
              </p>
              
              <hr class="star-primary">
              
              <h3>Families First - Head Start</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/02/stock-family-photo-e1488771265294.png" class="img-responsive img-centered" alt="mother father toddler">
              <p class="service-left">
                Early infant mental health services for at-risk preschoolers, 3 to 5 years of age, who are displaying signs of behavioral challenges; which makes them extremely vulnerable for child abuse and maltreatment. 
                This unique program is designed to strengthen early childhood mental health and redirect identified behavioral difficulties through dyadic (parent/child) mental health services, giving them the foundation needed to enjoy a successful childhood and school career.
              </p>
              
              <hr class="star-primary">

              <h3>Our Communities Our Schools</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/teacher-students-stock-photo.jpg" class="img-responsive img-centered" alt="teacher interacting with students">
              <p class="service-left">
                Through this program, therapists and case managers are integrated directly into school sites, giving them the ability to seamlessly work with students and parents to create treatment plans based upon individualized mental, emotional, or behavioral needs. 
                This program is also designed to work in collaboration with administrators and teachers to provide consultation and classroom management techniques. 
                Pervasive concerns such as child abuse/maltreatment and bullying are also addressed through intervention and prevention education to the entire school community.
              </p>
              
              <hr class="star-primary">
              
              <h3>Teen Parent/Pregnant Minor Program</h3>
              
              <p class="service-left">
                This program works directly with school districts to assist in implementing the California School Aged Families (Cal-SAFE) program. 
                Through this program, CFGC provides counseling and case management services to pregnant and parenting students. 
                The goal of the program is to increase graduation rates; transition students into Post-Secondary education and/or work/vocation; and improve parenting skills, 
                creating the overarching goal to decrease child abuse and maltreatment by assisting students in developing the emotional and environmental growth needed to graduate and successfully transition into adulthood.
              </p>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Child Abuse Info</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/child-abuse-1.jpg" class="img-responsive img-centered" alt="stop child abuse">
              <p class="service-left">
                Sadly, one in five children in America are impacted by a mental health condition <cite>(National Institute of Mental Health, 2015)</cite>. 
                While effective treatments and interventions are available, mental health conditions are under-recognized and under-treated. 
                Additionally, in Los Angeles County alone, 157,960 children suffer from abuse or neglect <cite>(Los Angeles County Department of Mental Health, 2009)</cite>. 
                Both of these groups of children are more likely to drop out of school, use illegal drugs, end up in prison, and commit suicide <cite>(National Institute of Mental Health, 2015)</cite>.
                Founded in 1976, the Community Family Guidance Center’s mission is to help Southeast Los Angeles County’s underserved children and their families heal from trauma, abuse, emotional, behavioral and mental health issues through proven interventions and compassionate guidance. 
                Roughly 80% of the children whom we serve annually suffer from some form of trauma, with 60% of the trauma related directly to physical abuse. 
                Our therapy work results in an average 50% reduction in emotional, behavioral and mental health symptoms within six months from clients who completed the pre- and post-evaluations.
              </p>
              
              <hr class="star-primary">
              
              <h3>Su Casa Collaboration</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/chld-abuse-2.jpg" class="img-responsive img-centered" alt="stop child abuse">
              <p class="service-left">
                Through this collaboration, Su Casa’s transitional shelter residents receive mental health treatment for immediate trauma-related symptoms including depression, anxiety, PTSD symptoms in adults and children, and behavioral problems in children.  Direct services are also offered to children who are exposed to violence, teaching them healthy coping skills to break the cycle of abuse; and promote healthier family relationships between parents and their children.
              </p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Parent / Caregiver Services</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/parent-caregiver-main-e1488781246652.jpg" class="img-responsive img-centered">
              <p>
                Yearly, CFGC receives an increased demand for parenting services, especially among low to moderate income families. 
                The Center’s Family Support offers an array of programs and services including group and family therapy, child abuse prevention, 
                community resources and outreach to strengthen and improve the resiliency of the communities we serve.
                <br><br>
                CFGC offers a variety of parenting groups through its School-based programs, Family Wellness and Community Outreach programs. 
                Parenting groups focus largely on prevention with the aim of increasing communication between parents and children, 
                improving the relational dynamics among family members, decreasing parental stress, and improving parent’s effectiveness in implementing limit setting. 
                Ultimately, the goal of these direct parental supports is to increase a child’s protective factors to decrease child abuse, delinquency, and school failure.
              </p>
              
              <hr class="star-primary">
              
              <h3>Family Wellness</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/family-wellness.jpg" class="img-responsive img-centered">
              <p class="service-left">
                CFGC offers a variety of parenting groups through its School-based programs, Family Wellness and Community Outreach programs. 
                Parenting groups focus largely on prevention with the aim of increasing communication between parents and children, improving the relational dynamics among family members, decreasing parental stress, and improving parent’s effectiveness in implementing limit setting. 
                Ultimately, the goal of these direct parental supports is to increase a child’s protective factors to decrease child abuse, delinquency, and school failure.
              </p>
              
              <hr class="star-primary">
              
              <h3>Reflective Parenting Program</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/reflectiv-parenting-e1488782001250.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The Reflective Parenting Program is geared towards 3 – 5 year olds and aims to improve the parent/child relationship by giving parents the tools needed to build secure relationships with their children. 
                The program is provided in a group setting which enables parents through peer support to discover new ways to think about the relationship between behavior, 
                feelings, and actions, while learning strategies and techniques needed to enhance their personal reflective functioning when responding to their children.  
              </p>
              
              <hr class="star-primary">
              
              <h3>Protective Factors</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/5-factors-e1488789769278.jpg" class="img-responsive img-centered">
              <p class="service-left">
                Building childhood/youth resilience through five major protective factors:
                <ol class="service-left">
                  <li>Concrete support in time of need;</li>
                  <li>The presence of a good support system;</li>
                  <li>The use of good parenting skills;</li>
                  <li>The mental health and psychological resilience of the parents or other caregivers;</li>
                  <li>The child’s own social-emotional and cognitive capabilities.</li>
                </ol> 
                <div class="colored-line-left"></div>
                <cite class="footnote service-left">Center for the Study of Social Policy – literature review (Knitzer & Lefkowitz, 2006)</cite>
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Medication Management</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/medication-management-e1488794960901.jpg" class="img-responsive img-centered">
              
              <h3>Medication Support Services</h3>
              <p class="service-left">
                For many children, counseling services are most effective when in conjunction with psychiatric medication support.  At CFGC, we carefully assess the needs of each child and the values and wishes of the family when considering medication services for our clients.  The decision to include psychiatric medication support is a decision made between the family, the therapist, and the psychiatrist. 
                If medication is prescribed, it is carefully monitored by our highly skilled psychiatrists who are specifically trained in working with children.
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Partnerships / Collaborations</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/partnership-2-e1488796871993.jpg" class="img-responsive img-centered">
                
              <h3>School-based Partnerships</h3>
              <p class="service-left">
                <ul class="service-left">
                  <li><a href="http://www.abcusd.k12.ca.us/pages/ABC_Unified_School_District" target="_blank">ABC Unified School District</a></li>
                  <li><a href="http://www.busd.k12.ca.us/" target="_blank">Bellflower Unified School District</a></li>
                  <li><a href="http://www.dusd.net/" target="_blank">Downey Unified School District</a></li>
                  <li><a href="http://www.littlelake.k12.ca.us/" target="_blank">Little Lake City School District</a></li>
                  <li><a href="http://www.lbusd.k12.ca.us/" target="_blank">Long Beach Unified School District</a></li>
                  <li><a href="http://www.nlmusd.org/" target="_blank">Norwalk-La Mirada Unified School District</a></li>
                  <li><a href="http://www.paramount.k12.ca.us/" target="_blank">Paramount Unified School District</a></li>
                </ul>
              </p>
                
              <hr class="star-primary">
              
              <h3>Collaborative Partners</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/collaboration-e1488796759679.jpg" class="img-responsive img-centered">
              <p class="service-left">
                <ul class="service-left">
                  <li><a href="http://lacada.com" target="_blank">L.A. CADA</a></li>
                  <li><a href="http://www.sucasadv.org/" target="_blank">Su Casa Ending Domestic Violence</a></li>
                  <li><a href="http://www.usc.edu/" target="_blank">University of Southern California (USC) </a></li>
                  <li><a href="http://www.downeyfamilysupport.com/" target="_blank">Exchange Club Family Support Center</a></li>
                </ul>
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl"></div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Intensive Outpatient Services</h2>
                    <hr class="star-primary">
                    <img src="https://cfgcenter.com/wp-content/uploads/2017/03/intensive-e1488798895332.jpg" class="img-responsive img-centered" alt="">
                    <p>
                      For children and families in crisis situations, teams of therapists and case managers provide field-based services multiple times weekly, along with a 24-hour crisis intervention phone hotline, 
                      to stabilize the crisis situation and reduce the likelihood of the child being placed in residential treatment centers and psychiatric hospitals.
                      Programs within our intensive services are Full Service Partnership (FSP) and Field Capable Clinical Services (FCCS) 
                      FSP offers services to children 0-18 years old and has some funding available to provide supportive services to others within the family. 
                    </p>
                    <ul class="list-inline item-details">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 id="non-os">Non-Intensive Outpatient Services</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/non-intensive-e1488799322682.jpg" class="img-responsive img-centered" alt="">
              <p>
                For children ages 0-21 and families with mental health needs, skilled therapists work collaboratively with the child, family, and others involved in the child’s life via weekly therapy, 
                medication, and case management services in the office, school, or home to address their self-identified goals and to improve functioning in the home, school, and community.
                Two programs included in these services are Family Preservation and Enhanced Mental Health services for children who are involved with the Department of Children Services.
              </p>
              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Prevention / Early Interventions</h2>
              <hr class="star-primary">
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/prevention-e1488799977251.jpg" class="img-responsive img-centered" alt="">
              <p>
                For children experiencing mental health issues for the first time, skilled therapists provide short term treatment to return the child and family to their previous level of functioning and prevent the need for more intensive services.
                <br><br>
                We also partner with community organizations to offer programs that help children and families who may not otherwise have access to mental health services, including:
                <br><br>
                <ul id="partners">
                  <li>
                    Families United Group (with Kaiser Permanente to provide parenting support and education on child development, communication, and limit setting)
                  </li>
                  <li>
                    Teen Parent Program (with ABC Unified School District to help pregnant and parenting teens)
                  </li>
                  <li>
                    Su Casa (with Su Casa to help victims of domestic violence)
                  </li>
                  <li>
                    Our Communities, Our Schools (with Bellflower Unified School District to provide direct school referrals and on-site mental health services to students)
                  </li>
                  <li>
                    Families First (with Norwalk La Mirada Unified School District’s to provide early mental health identification and intervention to Head Start students)
                    (Head Start Program)
                  </li>
                </ul>
                <div class="intro text-left bold-text">Our evidence-based PEI treatments include:</div>
              </p>
          
              <hr class="star-primary">
          
              <h3 style="margin-top:0px">Trauma-focused Cognitive Behavioral Therapy</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/cognitive-behavioral-therapy.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The goal of Trauma-Focused Cognitive Behavioral Therapy (TF-CBT) is to help children, adolescents, and their parents/caregivers overcome trauma-related challenges such as anxiety, depression, and withdrawal. 
                TF-CBT is designed to reduce negative emotional and behavioral responses following child sexual abuse, domestic violence, traumatic loss, and other traumatic events. 
                It also provides support and teaches skills to the parent/caregiver to cope with their own emotional distress and to support their children.
              </p>
              
              <hr class="star-primary">
          
              <h3>Individual Cognitive Behavioral Therapy</h3>
              <!-- <img src="https://cfgcenter.com/wp-content/uploads/2017/03/parent-caregiver.jpg" class="img-responsive img-centered"> -->
              <p class="service-left">
                Individual Cognitive Behavioral Therapy (ICBT) is intended as an early intervention program for individuals who are experiencing or may be at risk for symptoms of anxiety, depression, and the effects of trauma which impact multiple areas of daily living. 
                This treatment modality is a collaborative effort between the therapist and client and utilizes different therapeutic methods to address negative thought and behavior patterns that interfere with daily functioning. 
                ICBT treatment can be utilized for transitional aged youth and adults. Currently this program is only open to parents of clients at our agency.
              </p>
              
              <hr class="star-primary">
          
              <h3>Reflective Parenting Program</h3>
              <img src="https://cfgcenter.com/wp-content/uploads/2017/03/reflectiv-parenting-e1488782001250.jpg" class="img-responsive img-centered">
              <p class="service-left">
                The Reflective Parenting Program (RPP) is an innovative 10-week workshop series that engages groups of 6-10 parents in an in-depth experiential learning process. 
                Each week includes instruction, discussions and exercises to engage parents in various topics related to their child’s development. 
                The workshops enable parents to discover new ways to think about the links between behavior, feelings, and actions, while learning strategies and techniques designed to enhance their reflective functioning. 
                These interventions help children feel more secure in the parent-child relationship and provide families with tools that will be critical to the child’s developing capacity to form and maintain intimate, mutual, and supportive relationships in the future. 
              </p>
              
              <hr class="star-primary">
          
              <h3>Parent Child Interactive Therapy </h3>
              <!-- <img src="https://cfgcenter.com/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpeg" class="img-responsive img-centered"> -->
              <p class="service-left">
                The goal of Parent Child Interactive Therapy (PCIT) is to improve the parent-child relationship. This EBP focuses on children ages 2–7 with acting out behaviors. 
                The treatment sessions utilize specialized play and family therapy interventions to build positive parenting skills and improve attunement and attachment between the child and caregiver. 
                The therapist is able to provide direct coaching to the parent via a one-way mirror and earbud audio system, thus enabling in vivo practice in implementing new parenting techniques
              </p>
              
              <hr class="star-primary">
          
              <h3>Managing and Adapting Practices</h3>
              <!-- <img src="https://cfgcenter.com/wp-content/uploads/2017/03/safety-bear-e1488777290549.jpeg" class="img-responsive img-centered"> -->
              <p class="service-left">
               A family centered, culturally sensitive parenting and family strengthening program provided in a group therapy setting. 
               This program has been proven to increase positive family relationships and decrease problematic behaviors such as delinquency, 
               adolescent drug abuse, poor school performance and involvement in the juvenile justice system through enhancing family’s protective factors.
              </p>
            
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>